# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/

# Environment
.env
venv/
.envrc
.DS_Store

# IDE
.idea/
.vscode/

# OS junk
Thumbs.db
*.swp

